<div class="container mt-3">

  <h1><%= link_to "Pokedex", root_path  %></h1>

  <h6><%= link_to "< Trainers", trainers_path %></h6>

  <h6><%= link_to "Random Pokémon", random_pokemons_path %></h6>

<div class="w-100 mb-3">
  <%= simple_form_for :search, url: search_pokemons_path, method: :get, html: { class: "w-100" } do |f| %>
    <div>
      <%= f.input :query, label: false, placeholder: "Search a Pokémon...", input_html: { class: "form-control", name: 'query' } %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>



  <% if @pokemons.empty? %>
      <p >No Pokémon found.</p>
  <% end %>

  <div class="row mb-3">
    <% @pokemons.each do |pokemon| %>
      <div class="col-md-4 col-sm-6 col-lg-3 mb-3">
        <div class="card card-pokemon">
          <% if pokemon.photo.attached? %>
            <%= link_to pokemon_path(pokemon) do %>
              <div>
                <%= cl_image_tag pokemon.photo.key, class: "card-img-top img-fluid", alt: pokemon.name %>
              </div>
              <div class="card-body text-center">
                <h5><%= pokemon.name %></h5>
                <p><strong>Type :</strong> <%= pokemon.element_type %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>



</div>
