<div class="container">

  <h1>Pokedex</h1>
  <%= link_to "Trainers", trainers_path %>
  <%# lien random pokémon %>
  <p class="mb-4">random pokemons</p>
  <%#  Search for pokémon%>

  <div class="row mb-3">
    <% @pokemons.each do |pokemon| %>
      <div class="col-md-4 col-lg-3 mb-3">
        <div class="card card-pokemon">
          <% if pokemon.photo.attached? %>
            <%= link_to pokemon_path(pokemon) do %>
              <div>
                <%= cl_image_tag pokemon.photo.key, class: "card-img-top img-fluid", alt: pokemon.name %>
              </div>
              <div class="card-body text-center">
                <h5><%= pokemon.name %></h5>
                <p><strong>Type :</strong> <%= pokemon.element_type %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>



</div>
