<div class="container pt-3">

  <%= link_to "< Pokedex", root_path  %>

  <div class="row mt-3">
    <div class="col-md-6 mb-3">
      <div class="card card-pokemon">
        <div>
          <%= cl_image_tag @pokemon.photo.key, class: "card-img-top img-fluid", alt: @pokemon.name %>
          <div class="card-body text-center">
            <h5><%= @pokemon.name %></h5>
            <p><strong>Type :</strong> <%= @pokemon.element_type %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <%= simple_form_for [@pokemon, @pokeball] do |f| %>
        <%= f.association :trainer, label: "Who is trying their luck?" %>
        <%= f.input :location, label: "Where are you?"%>
        <%= f.input :caught_on, label: "Date of Capture", as: :date %>
        <%= f.submit "Catch Pokémon", class: "btn btn-primary" %>
      <% end %>
    </div>


  </div>
</div>
