<div class="container">

<%= link_to "< Pokedex", root_path  %>

  <h1 class="mb-4">Let's get training !</h1>

  <div class="row mb-3 justify-content-center">
    <% @trainers.each do |trainer| %>
      <div class="col-md-4 col-lg-3 mb-3">
        <div class="card card-trainer">
          <% if trainer.photo.attached? %>
            <%= link_to trainer_path(trainer) do %>
              <div>
                <%= cl_image_tag trainer.photo.key, class: "card-img-top img-fluid", alt: trainer.name %>
              </div>
              <div class="card-body text-center">
                <h5><%= trainer.name %></h5>
                <p><strong>Age :</strong> <%= trainer.age %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New trainer", new_trainer_path, class:"btn btn-primary" %>
</div>
